<div
  style="
    width: 297mm;
    height: 210mm;
    padding: 2.5mm 5.5mm;
    border: 1px solid black;
    background: white;
  ">
  <div style="
    width: 100%;
    height: 100%;
    border: 0.75px;
    background: transparent;
  ">
    <map-frame class="mod-block"></map-frame>
  </div>
</div>
<app-flyout #flyout>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <input
          class="mod-control mod-margin"
          type="button"
          value="Закрыть"
          (click)="closeFlyout()"/>
      </div>
      <div class="col-10 mod-frame">
        <operation-manager class="mod-block"></operation-manager>
      </div>
    </div>
    <div class="row">
      <span class="col mod-frame">
        <transition-manager class="mod-block"></transition-manager>
      </span>
    </div>
  </div>
</app-flyout>

