<ng-container *ngFor="let operation of operations; index as i">
  <div>Операция {{ i + 1 }} - {{ operation.group.name }}</div>
  <div *ngFor="let transition of operation.transitions">
    <span>*</span>
    <span>{{ transition.action.name.toLowerCase() }}</span>
    <span>{{ transition.object.fullname.toLowerCase() }}</span>
    <span>{{ transition.id }}</span>
    <span *ngIf="transition.measures.length > 0">, выдерживая размеры</span>
    <ng-container *ngFor="let measure of transition.measures">
      <span>{{ measure.name }}={{ measure.value }} мм</span>
    </ng-container>
  </div>
</ng-container>
