.flyout {
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  border-top: 2px solid black;
  position: fixed;
  transition: height 0.5s ease-in;

  &-collapsed {
    height: 8vh;
    background: wheat;

    &:hover {
      background: beige;
    }
  }

  &-expanded {
    height: 50vh;
    background: wheat;
  }
}
