.flyout {
  right: 0;
  left: 0;
  bottom: 0;
  height: 10vh;
  width: 100vw;
  border-top: 2px solid black;
  position: fixed;
  transition: 0.1s;

  &-collapsed {
    background: wheat;

    &:hover {
      background: white;
    }
  }

  &-expanded {
    background: beige;
  }
}
