<div class="container-fluid">
  <div class="row">
    <input
      [disabled]="!(transitionId !== 0 && isFormValid)"
      [class.mod-button--disabled]="!(transitionId !== 0 && isFormValid)"
      (click)="onEditButtonClick()"
      class="mod-margin mod-button"
      type="button"
      value="Изменить"/>
    <input
      [disabled]="transitionId <= 0"
      [class.mod-button--disabled]="transitionId <= 0"
      (click)="onDeleteButtonClick()"
      class="mod-margin mod-button"
      type="button"
      value="Удалить"/>
  </div>
  <div class="row">
    <span class="col-3">
      <div class="container-fluid">
        <div class="row mod-text">
          <span>Действие</span>
        </div>
        <div class="row">
          <select
            #actionSelect
            [value]="actionId"
            (click)="onActionChange()"
            class="mod-control col">
            <ng-container *ngFor="let option of actionOptions">
              <option [value]="option.id">{{ option.name }}</option>
            </ng-container>
          </select>
        </div>
      </div>
    </span>
    <span class="col-3">
      <div class="container-fluid">
        <div class="row mod-text">
          <span>Объект</span>
        </div>
        <div class="row">
          <select
            #objectSelect
            [disabled]="actionId <= -1"
            [class.mod-button--disabled]="actionId <= -1"
            [value]="objectId"
            (click)="onObjectChange()"
            class="mod-control col">
            <option
              *ngIf="objectId <= 0"
              value="-1"></option>
            <ng-container *ngFor="let option of objectOptions">
              <option [value]="option.id">{{ option.fullname }}</option>
            </ng-container>
          </select>
        </div>
      </div>
    </span>
    <span class="col-2">
      <div class="container-fluid">
        <div class="row mod-text">
          <span>Идент.</span>
        </div>
        <div class="row">
          <input
            class="mod-control"
            type="number"
            value="1" />
        </div>
      </div>
    </span>
    <span class="col-3">
      <div class="container-fluid">
        <div class="row mod-text">
          <span>Размер 1</span>
        </div>
        <div class="row">
          <input
            class="mod-control col"
            type="text"
            value="D1" />
          <input
            class="mod-control col"
            type="number"
            value="0"/>
        </div>
      </div>
    </span>
    <span
      class="col-1">
      <input
        [disabled]="!(transitionId === 0 && isFormValid)"
        [class.mod-button--disabled]="!(transitionId === 0 && isFormValid)"
        class="mod-button"
        type="button"
        value="Добавить"
        (click)="onAddButtonClick()"/>
    </span>
  </div>
</div>
