/* You can add global styles to this file, and also import other style files */
html, body {
    padding: none;
    margin: none;
}

@font-face {
    font-family: "GostARegular";
    src: url("../fonts/GostARegular/GostARegular.eot");
    src: url("../fonts/GostARegular/GostARegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GostARegular/GostARegular.woff") format("woff"),
    url("../fonts/GostARegular/GostARegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.mod {
    &-margin {
        margin: 10px;
    }
}

*, .text {
    font-family: "GostARegular";
    font-size: 32px;
}

.label {
    margin: 10px;
}
