/* You can add global styles to this file, and also import other style files */
html, body {
    padding: none;
    margin: none;
}

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

@font-face {
  font-family: "GostARegular";
  src: url("../fonts/GostARegular/GostARegular.eot");
  src: url("../fonts/GostARegular/GostARegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GostARegular/GostARegular.woff") format("woff"),
  url("../fonts/GostARegular/GostARegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.mod {
  &-margin {
    margin: 10px;
  }

  &-block {
    display: block;
  }

  &-frame {
    border: 2px solid #eee;
    border-radius: 10px;
  }

  &-text, * {
    font-family: "GostARegular";
    font-size: 26px;
  }

  &-label {
    margin: 10px;
  }
}
