<div class="container-fluid">
  <div class="row">
    <span class="col">
      <span
        class="mod-text mod-margin">
        Операция
      </span>
      <select
        #operationGroupSelect
        [value]="operationGroupId"
        (change)="onOperationGroupChange()"
        class="mod-control mod-margin">
        <ng-container *ngFor="let option of operationGroupOptions">
          <option [value]="option.id">{{ option.name }}</option>
        </ng-container>
      </select>
      <span>
        <input
          [disabled]="!(operationId === 0 && isControlsValid)"
          [class.mod-button--disabled]="!(operationId === 0 && isControlsValid)"
          class="mod-margin mod-button"
          type="button"
          value="Добавить"
          (click)="onSaveClick($event)"/>
        <input
          [disabled]="!(operationId !== 0 && isControlsValid)"
          [class.mod-button--disabled]="!(operationId !== 0 && isControlsValid)"
          class="mod-margin mod-button"
          type="button"
          value="Изменить"
          (click)="onEditClick()"/>
        <input
          [disabled]="operationId === 0"
          [class.mod-button--disabled]="operationId === 0"
          class="mod-margin mod-button"
          type="button"
          value="Удалить"
          (click)="onDeleteButtonClick($event)"/>
      </span>
      <span>
        <input
          class="mod-margin mod-button"
          type="button"
          value="Вверх"
          (click)="onMoveUpClick($event)"/>
        <input
          class="mod-margin mod-button"
          type="button"
          value="Вниз"
          (click)="onMoveDownClick($event)"/>
      </span>
    </span>
  </div>
  <div class="row">
    <div class="col">
      <span
        class="mod-text mod-label">
        Средства технологического оснащения
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col mod-text mod-label">
      Инструмент
    </div>
    <select
      #instrumentSelect
      [value]="instrumentId"
      (change)="onInstrumentChange()"
      class="mod-control col mod-margin">
      <ng-container *ngFor="let option of instrumentOptions">
        <option [value]="option.id">{{ option.name }}</option>
      </ng-container>
    </select>
    <div class="col mod-text mod-label">
      Оснастка
    </div>
    <select
      #equipmentSelect
      [value]="equipmentId"
      (change)="onEquipmentChange()"
      class="mod-control col mod-margin">
      <ng-container *ngFor="let option of equipmentOptions">
        <option [value]="option.id">{{ option.name }}</option>
      </ng-container>
    </select>
    <div class="col mod-text mod-label">
      Средства контроля
    </div>
    <select
      #controlSelect
      [value]="controlId"
      (change)="onControlChange()"
      class="mod-control col mod-margin">
      <ng-container *ngFor="let option of controlOptions">
        <option [value]="option.id">{{ option.name }}</option>
      </ng-container>
    </select>
  </div>
</div>
